* {
    margin: 0;
    padding: 0;
}

/*Form Container*/
.container {
    margin: auto;
    background-color: rgb(68, 97, 129);
    border-radius: 25px;
    width: 50vw;
    height: 60vh;
    box-shadow: 0px 0px 10px 0.1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Login/Signup Header*/
.container h1 {
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
    letter-spacing: 3px;
}

/*Login/Signup button switcher*/
.formSwitcher {
    font-size: 0;
}

.formSwitcher button {
    margin: 10px 0;
    padding: 5px 15px;
    color: white;
    font-weight: 500;
    background-color: transparent;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Genos', sans-serif;
    border: none;
}

.formSwitcher button:hover {
    text-decoration-line: underline;
}

/*Form*/
form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.form form div label {
    font-family: 'Genos', sans-serif;
    font-weight: 900;
    font-size: 19px;
    color: whitesmoke;
    margin: auto;
    padding: 0 10px 0 0;
}

.form form div input {
    border-radius: 10px;
    color: black;
    padding: 5px 10px;
}

.form form input {
    padding: 7px 40px;
    background-color: white;
    border-radius: 25px;
    border-style: solid;
    font-family: 'Permanent Marker', cursive;
}

.form .login-form {
    display: block;
}

.form .signup-form {
    display: none;
}